h1 {
  color: #DB7093;
}  
        
body {
  background-image: url("myBackground.png");
  background-position: right;
  background-repeat: no-repeat;
}
           
#navtable {
  width: 800px;
}

#navtd {width: 200px; text-align: center;}
