h1 {
  color: #DB7093;
}  
        
body {
  background-image: url("myBackground.png");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: cover;
}
           
#navtable {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#navtd {width: 200px; text-align: center;}

#banner {
  margin-left: auto;
  margin-right: auto;
}

#bodydiv{
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
